snippet cc "(snippet) comment" b
"""
$0
"""
endsnippet

snippet class "(snippet) class" b
class ${1:NAME}():
	def __init__(self):
		return
endsnippet


snippet skai "(snippet) SKAIChips" b
# Copyright (c) `!v strftime("%Y")` SKAIChips Co., Ltd. ALL RIGHTS RESERVED.
# Author: Insub Song (sis@skaichips.co.kr)
$0
endsnippet

 
snippet mando "(snippet) MANDO" b
# Copyright (c) ${1:--- YEAR ---} Mando Corp. All rights reserved.
# Author: Insub Song (insub.song@halla.com)
${2}
endsnippet
