snippet cc "(snippet) comment" b
"""
	$0
"""
endsnippet

snippet mando "(snippet) MANDO" b
# Copyright (c) ${1:--- YEAR ---} Mando Corp. All rights reserved.
# Author: Insub Song (insub.song@halla.com)
${2}
endsnippet
